h1{
    text-align: center;
}
#two{
   margin-left: 320px;
   
 
}
#one{
    margin-left: 220px;
 }
 #three{
    margin-left: 220px;
 }
 #four{
    margin-left: 313px;
 }
 #five{
    margin-left: 220px;
 }
 #six{
    margin-left: 300px;
 }
 #seven{
    margin-left: 218px;
 }
 #eight{
    margin-left:245px;
 }
 #nine{
    margin-left: 220px;
 }

 h2{
    text-align: center;
    align-items: center;
 }
 #x{
    margin-left: 218px;
 }
 #y{
    margin-left: 218px;
 }
 #a{
    margin-left: 218px;
}
#b{
    margin-left: 318px;
 }
 
